#content-wrapper {
  background-color: var(--main-blue);
  height: 100vh;
  width: 100vw;
  margin: 0;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;

  .title {
    font-size: xx-large;
  }
  .subtitle {
    font-size: x-large;
  }
  hr {
    width: 100%;
  }
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 22vw;
  min-width: 310px;
}

.white-input {
  color: black;
  ::ng-deep .mat-form-field-flex {
    background-color: #f0f0f1;
    padding: 3px;
    border-radius: 3px 3px 0 0;
  }
  ::ng-deep .mat-form-field-wrapper {
    background-color: var(--main-blue);
  }
}

.half-width {
  width: 50%;
  min-width: 50px;
  margin-bottom: 0.5em;
}

.action-btn {
  font-size: x-large;
}

.btn-spinner {
  padding: 10px;
}
