<section>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" id="login-form">
    <img src="../../../../assets/full-omni-logo-white-background@svg.svg" />

    <mat-form-field autocomplete="off" class="full-width">
      <mat-label>Email</mat-label>
      <input #email type="email" formControlName="email" matInput placeholder="Email" />
    </mat-form-field>

    <mat-form-field autocomplete="off" class="full-width">
      <mat-label>Password</mat-label>
      <input #password type="password" formControlName="password" matInput placeholder="Password" />
    </mat-form-field>

    <button class="action-btn" mat-raised-button type="submit">
      <div *ngIf="!isLoading">Login</div>
      <div *ngIf="isLoading" class="btn-spinner">
        <mat-icon><mat-spinner diameter="21" color="white"></mat-spinner></mat-icon>
      </div>
    </button>
  </form>
</section>
