.tasks-widget-container {
  border: var(--border);
  border-radius: 5px;
  padding: 10px 15px 15px 15px;
  background: white;
  box-shadow: 0px 0px 8px -3px rgb(0 0 0 / 10%);
  cursor: pointer;

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    img {
      position: relative;
      top: -11px;
      left: 11px;
    }
  }

  &.ready {
    border: 2px solid var(--dark-yellow);
  }

  &.overdue {
    border: 2px solid var(--danger-red);
  }

  h3 {
    margin: 0;
  }

  .data-container {
    text-align: center;
    display: flex;
    justify-content: space-around;

    span {
      padding: 5px 10px;
      border: var(--border);
      color: var(--border-color-darker);
      border-radius: 5px;
      box-shadow: 0px 0px 8px -3px rgb(0 0 0 / 10%);

      &.overdue {
        border: 1px solid var(--danger-red);
        color: var(--danger-red);
      }

      &.ready {
        border: 1px solid var(--dark-yellow);
        color: var(--dark-yellow);
      }
    }
  }
}
