POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DATABASE=omnihost

LINODE_PERSONAL_TOKEN="<Linode Personal Access Token>"
LINODE_STORAGE_CLUSTER_ID="<Linode Object Storage Region>"
LINODE_STORAGE_BUCKET_ID="<Linode Object Storage Bucket Name>"
LINODE_STORAGE_ACCESS_KEY="<Linode Object Storage Bucker Access Key>"
LINODE_STORAGE_SECRET_KEY="<Linode Object Storage Bucker Secret Key>"

API_SENDGRID_API_KEY="<Sendgrid API Key>"
API_SENTRY_DSN=""
API_SENTRY_TRACING_SAMPLE_RATE=1.0
API_ENVIRONMENT=DEVELOPMENT

FRONTEND_SENTRY_DSN=""
FRONTEND_SENTRY_TRACING_SAMPLE_RATE=1.0
FRONTEND_SENTRY_TUNNEL=
FRONTEND_ENVIRONMENT=DEVELOPMENT

TUNNEL_ALLOWED_DSNs=entireDSN,anotherDsn
TUNNEL_CORS_ALLOWED_ORIGINS=*
TUNNEL_PORT=8080

JWT_SECRET=secret
GLOBAL_CORS_ALLOWED_ORIGIN=http://localhost
