.alert-container {
  position: absolute;
  top: -9px;
  right: 9px;
  width: 0;
}

::ng-deep {
  .mat-tab-label-content {
    font-weight: bold;
    color: var(--main-blue);
  }

  .mat-table.cdk-table.ng-star-inserted {
    width: 99% !important;
  }
}
