<!-- Only content unaffected by the sidenav should be placed outside of mat-sidenav-container -->
<mat-sidenav-container autosize class="body-container" *ngIf="router.url !== '/login'">
  <!-- Sidebar -->
  <mat-sidenav
    mode="side"
    disableClose
    opened
    class="sidebar"
    [ngClass]="{ collapsed: sidebarCollapsed }"
    data-cy="sidebar"
  >
    <div class="sidebar-header" *ngIf="!sidebarCollapsed">
      <h3 class="username" [ngClass]="{ collapsible: sidebarCollapsed }">Frederik Vagner</h3>
      <h5 class="username" [ngClass]="{ collapsible: sidebarCollapsed }">
        frederik.vagner@omnihost.com
      </h5>
    </div>
    <mat-divider [ngClass]="{ collapsible: sidebarCollapsed }"></mat-divider>
    <div class="sidebar-items">
      <mat-action-list>
        <button
          mat-list-item
          routerLink="dashboard"
          [ngClass]="{ 'active-nav': title === 'Dashboard' }"
        >
          <mat-icon aria-hidden="false">dashboard</mat-icon>
          <span class="side-nav-item" [ngClass]="{ collapsible: sidebarCollapsed }">Dashboard</span>
        </button>
        <button
          mat-list-item
          routerLink="/checkin"
          [ngClass]="{ 'active-nav': title === 'Check In' }"
        >
          <mat-icon aria-hidden="false">assignment_returned</mat-icon>
          <span class="side-nav-item" [ngClass]="{ collapsible: sidebarCollapsed }">Check in</span>
        </button>
        <button
          mat-list-item
          routerLink="/checkout"
          [ngClass]="{ 'active-nav': title === 'Check Out' }"
        >
          <mat-icon aria-hidden="false">assignment_return</mat-icon>
          <span class="side-nav-item" [ngClass]="{ collapsible: sidebarCollapsed }">Check out</span>
        </button>
        <button
          mat-list-item
          [ngClass]="{ 'active-nav': title === 'Car List' }"
          routerLink="/car-list"
        >
          <mat-icon aria-hidden="false">directions_car</mat-icon>
          <span class="side-nav-item" [ngClass]="{ collapsible: sidebarCollapsed }">Car List</span>
        </button>
        <button
          mat-list-item
          routerLink="long-term"
          [ngClass]="{ 'active-nav': title === 'Long Term' }"
        >
          <mat-icon aria-hidden="false">receipt_long</mat-icon>
          <span class="side-nav-item" [ngClass]="{ collapsible: sidebarCollapsed }">Long Term</span>
        </button>
        <button
          mat-list-item
          [ngClass]="{ 'active-nav': title === 'Daily Tasks' }"
          routerLink="/daily-tasks"
        >
          <mat-icon aria-hidden="false">fact_check</mat-icon>
          <span [ngClass]="{ collapsible: sidebarCollapsed }" class="side-nav-item"
            >Daily Tasks</span
          >
        </button>
        <button
          mat-list-item
          [ngClass]="{ 'active-nav': title === 'Bell Boy Assignment Sheet' }"
          routerLink="/assignments"
        >
          <mat-icon aria-hidden="false">assignment_turned_in</mat-icon>
          <span class="side-nav-item" [ngClass]="{ collapsible: sidebarCollapsed }"
            >BB Assignments</span
          >
        </button>
        <button
          mat-list-item
          data-cy="sidebar-bikes-btn"
          [ngClass]="{ 'active-nav': title === 'Bike Sheet' }"
          routerLink="/bikes"
        >
          <mat-icon aria-hidden="false" data-cy="icon">directions_bike</mat-icon>
          <span
            class="side-nav-item"
            [ngClass]="{ collapsible: sidebarCollapsed }"
            data-cy="side-nav-item"
            >Bike sheet</span
          >
        </button>
        <button
          mat-list-item
          [ngClass]="{ 'active-nav': title === 'Documents' }"
          routerLink="/documents"
        >
          <mat-icon aria-hidden="false">library_books</mat-icon>
          <span class="side-nav-item" [ngClass]="{ collapsible: sidebarCollapsed }">Documents</span>
        </button>
        <button
          mat-list-item
          routerLink="/unwanted"
          [ngClass]="{ 'active-nav': title === 'Unwanted guests' }"
        >
          <mat-icon aria-hidden="false">pan_tool</mat-icon>
          <span class="side-nav-item" [ngClass]="{ collapsible: sidebarCollapsed }"
            >Unwanted guests</span
          >
        </button>
        <button
          mat-list-item
          data-cy="sidebar-announcements-btn"
          [ngClass]="{ 'active-nav': title === 'Announcements' }"
          routerLink="/announcements"
        >
          <p *ngIf="notificationPresent" class="notification-number">1</p>
          <mat-icon aria-hidden="false" data-cy="icon">announcement </mat-icon>
          <span
            class="side-nav-item"
            [ngClass]="{ collapsible: sidebarCollapsed }"
            data-cy="side-nav-item"
            >Announcements</span
          >
        </button>
      </mat-action-list>
    </div>
    <button mat-flat-button (click)="toggleCollapsed()" class="toggle-btn">
      {{ sidebarCollapsed ? '>' : '<' }}
    </button>
  </mat-sidenav>
  <!-- Navbar -->

  <!-- Content -->
  <mat-sidenav-content class="content">
    <!-- Navbar -->
    <div id="navbar" data-cy="navbar">
      <div class="page-title">
        <div [ngSwitch]="title">
          <mat-icon aria-hidden="false" *ngSwitchCase="'Dashboard'">dashboard</mat-icon>
          <mat-icon aria-hidden="false" *ngSwitchCase="'Account'">book</mat-icon>
          <mat-icon aria-hidden="false" *ngSwitchCase="'Luggage List'">receipt_long</mat-icon>
          <mat-icon aria-hidden="false" *ngSwitchCase="'Car List'">directions_car</mat-icon>
          <mat-icon aria-hidden="false" *ngSwitchCase="'Check Out'">assignment_return</mat-icon>
          <mat-icon aria-hidden="false" *ngSwitchCase="'Check In'">assignment_returned</mat-icon>
          <mat-icon aria-hidden="false" *ngSwitchCase="'Daily Tasks'">fact_check</mat-icon>
          <mat-icon aria-hidden="false" *ngSwitchCase="'Long Term'">receipt_long</mat-icon>
          <mat-icon aria-hidden="false" *ngSwitchCase="'Documents'">library_books</mat-icon>
          <mat-icon aria-hidden="false" *ngSwitchCase="'Bell Boy Assignment Sheet'"
            >assignment_turned_in</mat-icon
          >
          <mat-icon aria-hidden="false" *ngSwitchCase="'Bike Sheet'">directions_bike</mat-icon>
          <mat-icon aria-hidden="false" *ngSwitchCase="'Unwanted guests'">pan_tool</mat-icon>
          <mat-icon aria-hidden="false" *ngSwitchCase="'Announcements'">announcement</mat-icon>
          <mat-icon aria-hidden="false" *ngSwitchDefault>report</mat-icon>
        </div>
        <h1 class="title">{{ title }}</h1>
      </div>

      <div class="top-nav-actions">
        <mat-form-field class="remove-error-message">
          <mat-label>Display Date</mat-label>
          <input
            onclick="this.showPicker()"
            matInput
            type="date"
            [(ngModel)]="displayDate"
            (ngModelChange)="onDisplayDateChange($event)"
          />
        </mat-form-field>
        <button
          mat-flat-button
          class="navbar-item"
          routerLink="/logout"
          *ngIf="router.url !== '/login'"
        >
          Account
        </button>
        <button
          mat-flat-button
          class="navbar-item"
          *ngIf="router.url !== '/login'"
          (click)="logout()"
          data-cy="logout-btn"
        >
          Log Out
        </button>
      </div>
    </div>
    <div id="router-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet *ngIf="router.url === '/login'"></router-outlet>
