.item-container {
  .announcement-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: var(--border);
    border-radius: 5px;
    padding: 10px 10px;
  }

  .footer-section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      margin: 0;
    }
  }
}
