<div class="title-container">
  <h2>{{ title }}</h2>
  <button mat-dialog-close type="button" class="close-dialog-btn">X</button>
</div>
<hr />

<section>
  <div
    class="image-list"
    [ngClass]="{ 'center-item': images.length + videos.length === 1 }"
    *ngIf="!isLoading"
  >
    <ng-container class="image" *ngFor="let image of images">
      <img [src]="image" alt="An image" class="image" />
    </ng-container>

    <ng-container class="video" *ngFor="let video of videos">
      <video class="video" controls>
        <source [src]="video" />
      </video>
    </ng-container>

    <ng-container class="document" *ngFor="let document of documents">
      <iframe *ngIf="document" class="document" title="Test" [src]="document"></iframe>
      <div class="table-spinner-full-size" *ngIf="!document">
        <mat-icon><mat-spinner diameter="21"></mat-spinner></mat-icon>
      </div>
    </ng-container>
  </div>
  <div *ngIf="text && !isLoading">
    <h3>Title: {{ title.split('-')[1] }}</h3>
    <hr />
    <h3>Description</h3>
    <span style="white-space: pre-wrap">{{ text }}</span>
  </div>
</section>

<div *ngIf="isLoading" class="loading-icon">
  <p>Loading the files...</p>
  <mat-spinner diameter="50" color="blue"></mat-spinner>
</div>
