<div
  class="widget-container"
  [ngClass]="{
    'non-completed':
      nonCompletedCheckinList.length + nonCompletedCheckoutList.length > 0 && timeIsPassed21
  }"
>
  <div class="header">
    <h3>Check In / Check out</h3>
    <img
      *ngIf="nonCompletedCheckinList.length + nonCompletedCheckoutList.length > 0 && timeIsPassed21"
      src="assets/icons/alerts/warning-alert-icon.svg"
      alt="alert icon"
    />
  </div>

  <p style="font-weight: 900">
    Time til 21.00 <br/> 21:00| Time til:

    <frontend-countdown
      [nextTime]="timeTil21"
      [displayTimeLeftText]="false"
      [displayAlways]="true"
    ></frontend-countdown>
  </p>

  <div class="data-container">
    <span routerLink="/checkin" *ngIf="nonCompletedCheckinList.length > 0">Check In <br />({{ nonCompletedCheckinList.length }})</span>
    <span routerLink="/checkout" *ngIf="nonCompletedCheckoutList.length > 0">Check Out <br />({{ nonCompletedCheckoutList.length }})</span>
  </div>
</div>
