table {
  width: 100%;
  box-shadow: none;
}

.comments-field {
  padding: 10px !important;
  text-align: left !important;
}

.small-field {
  width: 50px;
}

.image-icon {
  position: relative;
  top: 2px;
}

.table-actions {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.5em;

  h1 {
    margin: 0;
    color: var(--main-blue);
  }

  mat-form-field {
    &:first-of-type {
      width: 250px;
      margin-left: 0.5em;
      margin-right: 1em;
    }
  }

  .table-buttons {
    button {
      margin-right: 1em;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

tr.mat-header-row {
  height: 3.5em;
  position: sticky;
  top: -1px;
  z-index: 1;
}

tr.mat-row {
  cursor: pointer;
  &:nth-child(even) {
    background-color: #00000009;
  }
}

th.mat-header-cell {
  color: var(--main-blue);
  font-weight: 900;
  vertical-align: bottom;
  padding-bottom: 5px;
  text-align: center;

  &:first-of-type,
  &:last-of-type {
    padding-left: 0px;
    padding-right: 0px;
  }
}

td.mat-cell {
  padding-right: 10px;

  &:first-of-type {
    padding-left: 10px;
  }
}

.mat-row {
  > .mat-cell {
    // border-right: 1px solid var(--main-blue-low-opacity);
    // border-top: 1px solid var(--main-blue-low-opacity);
    min-width: 2vw;
    max-width: 10vw;
    padding: 17px 5px;
    text-align: center;
    border: none;

    // &:last-child {
    //   border-right: none;
    // }
  }
}

.overdue {
  background-color: var(--lighter-red);

  &:nth-child(even) {
    background-color: var(--light-red) !important;
  }
}

.ready {
  background-color: var(--extra-light-yellow);

  &:nth-child(even) {
    background-color: var(--lighter-yellow) !important;
  }
}

.completed {
  opacity: 0.25;
  // background-color: var(--main-blue-opacity-10) !important;

  // &:nth-child(odd) {
  //   background-color: var(--main-blue-opacity-15) !important;
  // }
}

.completed-hr {
  margin-top: 0;
}

.completed-heading {
  margin: 1em 0 0 0.5em;
  font-size: 1.25em;
}

.remove-error-message {
  ::ng-deep.mat-form-field-wrapper {
    padding-bottom: 0.15em;
  }
  ::ng-deep.mat-form-field-underline {
    bottom: 0;
  }
  ::ng-deep.mat-form-field-ripple {
    background-color: var(--main-blue);
  }
}

mat-icon {
  height: 20px;
  width: 20px;
  padding-left: 8px;
  padding-bottom: 3px;

  &.material-icons {
    font-size: 20px;
  }
}

.table-spinner-full-size {
  min-height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-files-wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: 100%;
  cursor: pointer;

  .file-number {
    color: var(--main-blue);
  }

  > img {
    width: 25%;
  }
}
