<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="title-container">
    <h1>Add Bike</h1>
    <button mat-dialog-close type="button" class="close-dialog-btn">X</button>
  </div>

  <hr />

  <div class="dialog-row">
    <mat-form-field autocomplete="off">
      <mat-label>Room nr.</mat-label>
      <input #room matInput type="number" formControlName="room" [matAutocomplete]="roomOptions" />
      <mat-autocomplete autoActiveFirstOption #roomOptions="matAutocomplete">
        <mat-option *ngFor="let option of filteredRooms | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
      <mat-error> {{ getErrorMessage() }} </mat-error>
    </mat-form-field>

    <mat-form-field autocomplete="off" class="full-width">
      <mat-label>Name</mat-label>
      <input #name type="text" formControlName="name" matInput placeholder="Name" />
      <mat-error *ngIf="form.get('name')?.invalid && form.get('name')?.dirty"> Required </mat-error>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field autocomplete="off">
      <mat-label>Reserved by</mat-label>
      <input
        #reservedBy
        matInput
        formControlName="reservedBy"
        [matAutocomplete]="reservedByOptions"
      />
      <mat-autocomplete autoActiveFirstOption #reservedByOptions="matAutocomplete">
        <mat-option *ngFor="let option of filteredBikesReserved | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
      <mat-error> {{ getErrorMessage() }} </mat-error>
    </mat-form-field>

    <mat-form-field autocomplete="off">
      <mat-label>Number of bikes</mat-label>
      <input
        #nrOfBikes
        type="number"
        formControlName="nrOfBikes"
        matInput
        placeholder="Number of bikes"
      />
      <mat-error *ngIf="form.get('nrOfBikes')?.invalid && form.get('nrOfBikes')?.dirty">
        Must be a number from 1-99
      </mat-error>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field class="remove-error-message">
      <mat-label>Pick up time</mat-label>
      <input
        onclick="this.showPicker()"
        matInput
        type="datetime-local"
        formControlName="pickUpTime"
      />
    </mat-form-field>

    <mat-form-field class="remove-error-message">
      <mat-label>Returned</mat-label>
      <input
        onclick="this.showPicker()"
        matInput
        type="datetime-local"
        formControlName="completedAt"
      />
    </mat-form-field>
  </div>

  <mat-form-field autocomplete="off" class="full-width">
    <mat-label>Comments</mat-label>
    <input #comments type="text" formControlName="comments" matInput placeholder="Comments" />
  </mat-form-field>

  <label class="checkbox-container">
    The guest has filled out the bike form
    <input
      type="checkbox"
      [checked]="bikeFormCompleted"
      (change)="bikeFormCompleted = !bikeFormCompleted"
    />
    <span class="checkmark"></span>
  </label>

  <div class="dialog-row">
    <button class="secondary-btn" type="button" mat-raised-button mat-dialog-close>Cancel</button>

    <button class="action-btn" mat-flat-button type="submit">
      <div *ngIf="!isLoading">Add Bike</div>
      <div *ngIf="isLoading" class="btn-spinner">
        <mat-icon><mat-spinner diameter="21" color="white"></mat-spinner></mat-icon>
      </div>
    </button>
  </div>
</form>
