<section class="dialog-section">
  <div class="dialog-content" *ngIf="!isLoading">
    <div>
      <div class="title-container">
        <h2>{{ blacklist?.name }}</h2>
        <button class="secondary-btn" mat-raised-button mat-dialog-close type="button">X</button>
      </div>
    </div>
    <div class="blacklist-container">
      <iframe [title]="blacklist?.name" [src]="blacklistFileUrl"></iframe>
    </div>
  </div>blacklist
  <div class="spinner-full-size" *ngIf="isLoading">
    <mat-icon><mat-spinner diameter="21" color="white"></mat-spinner></mat-icon>
  </div>
</section>
