<main>
    <div class="actions">
      <div>
        <mat-form-field class="remove-error-message">
          <mat-label>Search</mat-label>
          <input
            type="text"
            aria-label="search"
            [(ngModel)]="search"
            placeholder="Search ..."
            (change)="fetchBlacklist()"
            matInput
          />
        </mat-form-field>
      </div>
  
      <!-- <button mat-raised-button class="action-btn" (click)="openCreateBlacklistDialog()">
         Add blacklist <mat-icon>https</mat-icon>
      </button> -->
    </div>
    <hr />
  
    <section class="blacklist-container">
      <div class="blacklist-grid" *ngIf="!isLoading">
        <div *ngFor="let blacklist of blacklistList" class="blacklist-grid-item">
          <frontend-blacklist-widget
            class="blacklist-widget-wrapper"
            [blacklist]="blacklist"
          >
        </frontend-blacklist-widget>
        </div>
      </div>
      <div class="table-spinner-full-size" *ngIf="isLoading">
        <mat-icon><mat-spinner diameter="21"></mat-spinner></mat-icon>
      </div>
    </section>
  </main>