.blacklist-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;

  .blacklist-widget-wrapper {
    display: flex;
    width: 30%;
    padding: 10px;
  }
  
}
