<main>
  <div class="table-actions" style="justify-content: end">
    <div class="table-buttons">
      <button mat-raised-button class="basic-btn">Future</button>
      <button mat-raised-button class="basic-btn">Active</button>
      <button mat-raised-button class="basic-btn">Experied</button>
      <button mat-raised-button class="action-btn" (click)="createAnnouncement()">
        Add announcement
      </button>
    </div>
  </div>
  <hr />

  <div class="table-height">
    <table mat-table [dataSource]="dataSource" *ngIf="!isLoading">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element" class="comments-field">{{ element.title }}</td>
      </ng-container>

      <ng-container matColumnDef="comments">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element" class="comments-field">{{ element.comments }}</td>
      </ng-container>

      <ng-container matColumnDef="showFrom">
        <th mat-header-cell *matHeaderCellDef>Show <br />From</th>
        <td mat-cell *matCellDef="let element" class="small-field">
          {{ element.showFrom | date : 'dd/MM/YY' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="shownTo">
        <th mat-header-cell *matHeaderCellDef>Shown <br />To</th>
        <td mat-cell *matCellDef="let element" class="small-field">
          {{ element.shownTo | date : 'dd/MM/YY' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="images">
        <th mat-header-cell *matHeaderCellDef>Images</th>
        <td mat-cell *matCellDef="let element" class="small-field">
          <button mat-raised-button class="secondary-btn">
            View <mat-icon aria-hidden="false">remove_red_eye</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element" class="small-field">
          <button mat-flat-button class="active-btn">Status</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="editAnnouncement()"></tr>
      
    </table>

    <div class="table-spinner-full-size" *ngIf="isLoading">
      <mat-icon><mat-spinner diameter="21"></mat-spinner></mat-icon>
    </div>
  </div>
</main>
