<section class="document-widget-container">
  <div class="text-container">
    <div class="title-container">
      <div class="title">
        <h2>{{ displayTitle() }}</h2>
        <div class="show-on-dashboard" *ngIf="document.showOnDashboard">
          Dashboard <mat-icon>check_circle_outline</mat-icon>
        </div>
      </div>
      <hr />
    </div>
    <div class="content-container">
      <p>
        {{ document.comments }}
      </p>
    </div>
  </div>

  <div class="action-bar-container">
    <button
      mat-raised-button
      class="secondary-btn"
      (click)="openDocumentUpdateDialog()"
      data-cy="document-edit-btn"
    >
      Edit <mat-icon>https</mat-icon>
    </button>
    <button
      mat-raised-button
      class="action-btn"
      (click)="openSeeDocumentDialog(document.documentId)"
    >
      View <mat-icon aria-hidden="false">remove_red_eye</mat-icon>
    </button>
  </div>
</section>
