.car-widget-container {
  width: 300px;
  border: var(--border);
  border-radius: 5px;
  padding: 10px 15px 15px 15px;
  background: white;
  box-shadow: 0px 0px 8px -3px rgb(0 0 0 / 10%);
  cursor: pointer;

  &.ready {
    border: 1px solid var(--dark-yellow);
  }

  &.overdue {
    border: 1px solid var(--danger-red);
  }

  h3 {
    margin: 0;
  }

  .data-container {
    display: flex;
    gap: 1em;

    span {
      padding: 5px 10px;
      border: var(--border);
      color: var(--border-color-darker);
      border-radius: 5px;
      box-shadow: 0px 0px 8px -3px rgb(0 0 0 / 10%);

      &.overdue {
        border: 1px solid var(--danger-red);
        color: var(--danger-red);
      }

      &.ready {
        border: 1px solid var(--dark-yellow);
        color: var(--dark-yellow);
      }
    }
  }
}
