<div class="blacklist-widget-container">
  <div class="image-container">
    <ng-container *ngFor="let file of files; let i = index">
      <img [src]="file" [ngClass]="{ hidden: i >= 2 }" class="image" />
    </ng-container>
  </div>

  <div class="text-container">
    <div class="name-container">
      <h2>{{ displayName() }}</h2>
      <hr />
    </div>
    <div class="comments-container">
      <p>
        {{ blacklist.comments }}
      </p>
    </div>
    <div class="expires-container">
      <p>
        <span style="font-weight: 900">Expiration:</span>
        {{ blacklist.expiresAt ? (blacklist.expiresAt | date : 'dd/MM/yyyy' : 'GMT') : '-' }}
      </p>
    </div>
  </div>

  <div class="action-bar-container">
    <button mat-raised-button class="secondary-btn" (click)="updateBlacklistDialog()">
      Edit <mat-icon>https</mat-icon>
    </button>
  </div>
</div>
