<frontend-file-upload
  #fileUpload
  [parentType]="'cars'"
  [existingFiles]="files"
  (submissionFinishedEvent)="finalizeSubmission($event)"
  (containsInvalidFilesEvent)="updateFilesStatus($event)"
></frontend-file-upload>

<form (ngSubmit)="onSubmit()" [formGroup]="form" class="dialog-container">
  <div class="title-container">
    <h1>Update Car</h1>
    <button mat-dialog-close type="button" class="close-dialog-btn">X</button>
  </div>
  <hr />

  <div class="dialog-row">
    <mat-form-field autocomplete="off">
      <mat-label>Room nr.</mat-label>
      <input #room matInput type="number" formControlName="room" [matAutocomplete]="roomOptions" />
      <mat-autocomplete autoActiveFirstOption #roomOptions="matAutocomplete">
        <mat-option *ngFor="let option of filteredRooms | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
      <mat-error> {{ getErrorMessage() }} </mat-error>
    </mat-form-field>

    <mat-form-field autocomplete="off">
      <mat-label>Tag nr.</mat-label>
      <input #tagNr type="number" formControlName="tagNr" matInput placeholder="123" />
      <mat-error *ngIf="form.get('tagNr')?.invalid && form.get('tagNr')?.dirty">
        Required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field class="remove-error-message">
      <mat-label>Arrival Date</mat-label>
      <input onclick="this.showPicker()" matInput type="date" formControlName="arrivalDate" />
    </mat-form-field>

    <mat-form-field class="remove-error-message">
      <mat-label>Departure Date</mat-label>
      <input onclick="this.showPicker()" matInput type="date" formControlName="departureDate" />
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field autocomplete="off" class="full-width">
      <mat-label>Name</mat-label>
      <input #name type="text" formControlName="name" matInput placeholder="Johnson" />
      <mat-error *ngIf="form.get('name')?.invalid && form.get('name')?.dirty"> Required </mat-error>
    </mat-form-field>

    <mat-form-field autocomplete="off">
      <mat-label>License plate</mat-label>
      <input
        #licensePlate
        type="text"
        formControlName="licensePlate"
        matInput
        placeholder="AB12345"
      />
      <mat-error *ngIf="form.get('licensePlate')?.invalid && form.get('licensePlate')?.dirty">
        Required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field class="remove-error-message">
      <mat-label>Park expiration</mat-label>
      <input
        onclick="this.showPicker()"
        matInput
        type="datetime-local"
        formControlName="expirationDate"
      />
    </mat-form-field>

    <mat-form-field class="remove-error-message">
      <mat-label>Pick up time</mat-label>
      <input
        onclick="this.showPicker()"
        matInput
        type="datetime-local"
        formControlName="pickUpTime"
      />
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field autocomplete="off">
      <mat-label>Location</mat-label>
      <input #location matInput formControlName="location" [matAutocomplete]="locationOptions" />
      <mat-autocomplete autoActiveFirstOption #locationOptions="matAutocomplete">
        <mat-option *ngFor="let option of filteredCarLocations | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
      <mat-error> {{ getErrorMessage() }} </mat-error>
    </mat-form-field>

    <mat-form-field autocomplete="off">
      <mat-label>Parking lot</mat-label>
      <input type="text" formControlName="parkingLot" matInput placeholder="Front of hotel" />
      <mat-error *ngIf="form.get('parkingLot')?.invalid && form.get('parkingLot')?.dirty">
        Required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field autocomplete="off">
      <mat-label>BB down</mat-label>
      <input #bbDown matInput formControlName="bbDown" [matAutocomplete]="bbDownOptions" />
      <mat-autocomplete autoActiveFirstOption #bbDownOptions="matAutocomplete">
        <mat-option *ngFor="let option of filteredBbDown | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
      <mat-error> {{ getErrorMessage() }} </mat-error>
    </mat-form-field>

    <mat-form-field autocomplete="off">
      <mat-label>BB up</mat-label>
      <input matInput formControlName="bbUp" [matAutocomplete]="bbUpOptions" />
      <mat-autocomplete autoActiveFirstOption #bbUpOptions="matAutocomplete">
        <mat-option *ngFor="let option of filteredBbUp | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
      <mat-error> {{ getErrorMessage() }} </mat-error>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field class="remove-error-message">
      <mat-label>Delivery Time</mat-label>
      <input
        onclick="this.showPicker()"
        matInput
        type="datetime-local"
        formControlName="deliveryTime"
      />
    </mat-form-field>

    <mat-form-field autocomplete="off">
      <mat-label>BB out</mat-label>
      <input matInput formControlName="bbOut" [matAutocomplete]="bbOutOptions" />
      <mat-autocomplete autoActiveFirstOption #bbOutOptions="matAutocomplete">
        <mat-option *ngFor="let option of filteredBbOut | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
      <mat-error> {{ getErrorMessage() }} </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field autocomplete="off" class="full-width">
    <mat-label>Comments</mat-label>
    <input #comments type="text" formControlName="comments" matInput placeholder="Comments" />
    <mat-error *ngIf="form.get('comments')?.invalid && form.get('comments')?.dirty">
      Required
    </mat-error>
  </mat-form-field>

  <div class="dialog-row">
    <button class="secondary-btn" type="button" mat-raised-button mat-dialog-close>Cancel</button>

    <button class="action-btn" mat-flat-button type="submit">
      <div *ngIf="!isLoading">Update</div>
      <div *ngIf="isLoading" class="btn-spinner">
        <mat-icon><mat-spinner diameter="21" color="white"></mat-spinner></mat-icon>
      </div>
    </button>
  </div>
</form>
