<frontend-file-upload
  #fileUpload
  [parentType]="'luggages'"
  (submissionFinishedEvent)="finalizeSubmission($event)"
  (containsInvalidFilesEvent)="updateFilesStatus($event)"
></frontend-file-upload>

<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="dialog-container"
  data-cy="long-term-create-dialog"
>
  <div class="title-container">
    <h1>Add Long Term</h1>
    <button mat-dialog-close type="button" class="close-dialog-btn">X</button>
  </div>
  <hr />

  <div class="dialog-row">
    <mat-form-field autocomplete="off">
      <mat-label>Room nr.</mat-label>
      <input #room matInput type="number" formControlName="room" [matAutocomplete]="roomOptions" />
      <mat-autocomplete autoActiveFirstOption #roomOptions="matAutocomplete">
        <mat-option *ngFor="let option of filteredRooms | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
      <mat-error> {{ getErrorMessage() }} </mat-error>
    </mat-form-field>

    <mat-form-field autocomplete="off">
      <mat-label>Date in</mat-label>
      <input onclick="this.showPicker()" matInput type="datetime-local" formControlName="dateIn" />
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field autocomplete="off">
      <mat-label>Name</mat-label>
      <input #name type="text" formControlName="name" matInput placeholder="John Doe" />
      <mat-error *ngIf="form.get('name')?.invalid && form.get('name')?.dirty"> Required </mat-error>
    </mat-form-field>

    <mat-form-field autocomplete="off" class="input one-third">
      <mat-label>Nr of bags</mat-label>
      <input #bags type="text" formControlName="bags" matInput placeholder="1+3" />
      <mat-error *ngIf="form.get('bags')?.invalid && form.get('bags')?.dirty"> Required </mat-error>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field autocomplete="off" class="input one-third">
      <mat-label>Tag nr</mat-label>
      <input #tagNr type="text" formControlName="tagNr" matInput placeholder="123" />
      <mat-error *ngIf="form.get('tagNr')?.invalid && form.get('tagNr')?.dirty">
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="remove-error-message">
      <mat-label>Date needed</mat-label>
      <input
        onclick="this.showPicker()"
        min="{{ today }}"
        matInput
        type="date"
        formControlName="dateNeeded"
      />
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field autocomplete="off" class="input one-third">
      <mat-label>BB in LR</mat-label>
      <input #bbLr matInput formControlName="bbLr" [matAutocomplete]="bbLrOptions" />
      <mat-autocomplete autoActiveFirstOption #bbLrOptions="matAutocomplete">
        <mat-option *ngFor="let option of filteredBbLr | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
      <mat-error> {{ getErrorMessage() }} </mat-error>
    </mat-form-field>

    <mat-form-field autocomplete="off" class="input">
      <mat-label>Location</mat-label>
      <input matInput formControlName="location" [matAutocomplete]="locationOptions" />
      <mat-autocomplete autoActiveFirstOption #locationOptions="matAutocomplete">
        <mat-option *ngFor="let option of filteredLocations | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
      <mat-error> {{ getErrorMessage() }} </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field class="full-width">
    <mat-label>Comments</mat-label>
    <textarea
      #comments
      matInput
      type="text"
      formControlName="comments"
      placeholder="Describe the task"
    ></textarea>
  </mat-form-field>

  <div class="dialog-row">
    <button class="secondary-btn" mat-raised-button mat-dialog-close type="button">Cancel</button>
    <button class="action-btn" mat-raised-button type="submit">
      <div *ngIf="!isLoading">Create</div>
      <div *ngIf="isLoading" class="btn-spinner">
        <mat-icon><mat-spinner diameter="21" color="white"></mat-spinner></mat-icon>
      </div>
    </button>
  </div>
</form>
