<form [formGroup]="createAssignmentForm" (ngSubmit)="onSubmit()" class="dialog-container">
  <div class="title-container">
    <h1>Add Assignment</h1>
    <a mat-dialog-close type="button">X</a>
  </div>
  <hr />

  <div class="dialog-row">
    <mat-form-field autocomplete="off">
      <mat-label>Room nr.</mat-label>
      <input #room type="number" formControlName="room" matInput placeholder="123" />
      <mat-error
        *ngIf="createAssignmentForm.get('room')?.invalid && createAssignmentForm.get('room')?.dirty"
      >
        Must be a number from 100-999
      </mat-error>
    </mat-form-field>

    <mat-form-field autocomplete="off">
      <mat-label>Task</mat-label>
      <mat-select formControlName="task">
        <mat-option *ngFor="let task of bbAssignmentTask" [value]="task">
          {{ task }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="createAssignmentForm.get('task')?.invalid && createAssignmentForm.get('task')?.dirty"
      >
        Can't be more than 20 characters
      </mat-error>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field autocomplete="off">
      <mat-label>Requested by</mat-label>
      <mat-select formControlName="requestedBy">
        <mat-option *ngFor="let requestedBy of bbAssignmentRequestedBy" [value]="requestedBy">
          {{ requestedBy }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="
          createAssignmentForm.get('requestedBy')?.invalid &&
          createAssignmentForm.get('requestedBy')?.dirty
        "
      >
        Can't be more than 20 characters
      </mat-error>
    </mat-form-field>

    <mat-form-field autocomplete="off">
      <mat-label>Performed by</mat-label>
      <mat-select formControlName="performedBy">
        <mat-option *ngFor="let initials of bbInitials" [value]="initials">
          {{ initials }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="
          createAssignmentForm.get('performedBy')?.invalid &&
          createAssignmentForm.get('performedBy')?.dirty
        "
      >
        Can't be more than 20 characters
      </mat-error>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field class="remove-error-message">
      <mat-label>Requested at</mat-label>
      <input
        onclick="this.showPicker()"
        matInput
        type="datetime-local"
        formControlName="requestedAt"
      />
    </mat-form-field>

    <mat-form-field class="remove-error-message">
      <mat-label>Performed at</mat-label>
      <input
        onclick="this.showPicker()"
        matInput
        type="datetime-local"
        formControlName="completedAt"
      />
    </mat-form-field>
  </div>

  <mat-form-field autocomplete="off" class="full-width">
    <mat-label>Comments</mat-label>
    <textarea
      #comments
      matInput
      type="text"
      formControlName="comments"
      placeholder="Describe the task"
    ></textarea>
    <mat-error
      *ngIf="
        createAssignmentForm.get('comments')?.invalid && createAssignmentForm.get('comments')?.dirty
      "
    >
      Can't be more than 1000 characters
    </mat-error>
  </mat-form-field>

  <div class="dialog-row">
    <button class="secondary-btn" mat-raised-button mat-dialog-close type="button">Cancel</button>
    <button class="action-btn" mat-raised-button type="submit">
      <div *ngIf="!isLoading">assignment</div>
      <div *ngIf="isLoading" class="btn-spinner">
        <mat-icon><mat-spinner diameter="21" color="white"></mat-spinner></mat-icon>
      </div>
    </button>
  </div>
</form>
