<form
  [formGroup]="updateDocumentForm"
  (ngSubmit)="onSubmit()"
  class="dialog-container"
>
  <h1>Update document</h1>
  <hr />

  <div class="dialog-row"></div>

  <mat-form-field
    appearance="fill"
    autocomplete="off"
    class="full-width no-margin"
  >
    <mat-label>Title</mat-label>
    <input
      #title
      type="text"
      formControlName="title"
      matInput
      placeholder="Document title"
    />
  </mat-form-field>

  <mat-form-field
    autocomplete="off"
    appearance="fill"
    class="full-width no-margin"
  >
    <mat-label>Comments</mat-label>
    <textarea
      #comments
      style="height: 100px"
      matInput
      type="text"
      formControlName="comments"
      placeholder="Describe the document"
    ></textarea>
  </mat-form-field>

  <!-- File actions -->
  <div class="document-container">
    <input
      style="display: none"
      #fileUpload
      type="file"
      multiple
      (change)="uploadDocument($event)"
      accept="application/pdf, application/msword, application/vnd.openxmlformats"
    />
    <button
      class="document-btn full-width"
      mat-raised-button
      type="button"
      [disabled]="data !== undefined"
      (click)="fileUpload.click()"
    >
      {{
        data === undefined
          ? 'No file uploaded'
          : getDocumentName(data.documentName)
      }}
    </button>

    <!-- Remove file btn / Upload file btn -->
    <button
      class="secondary-btn remove-btn"
      mat-raised-button
      type="button"
      (click)="removeFile()"
      *ngIf="data !== undefined"
    >
      X
    </button>
    <button
      class="secondary-btn remove-btn"
      mat-raised-button
      type="button"
      (click)="fileUpload.click()"
      *ngIf="data === undefined"
    >
      <img
        src="assets/icons/upload-white-icon.svg"
        alt="upload icon"
        class="icon"
      />
    </button>
  </div>

  <label class="checkbox-container">
    Show on dashboard
    <input
      type="checkbox"
      [checked]="showOnDashboard"
      (change)="showOnDashboard = !showOnDashboard"
    />
    <span class="checkmark"></span>
  </label>

  <div class="special-row actions-section">
    <button
      class="secondary-btn"
      mat-raised-button
      mat-dialog-close
      type="button"
    >
      Cancel
    </button>
    <button
      class="danger-btn"
      mat-raised-button
      type="button"
      (click)="deleteDocument()"
    >
      Delete
    </button>
    <button class="action-btn" mat-raised-button type="submit">
      Update document
    </button>
  </div>
</form>
